{% extends 'layout.html.twig' %}

{% block content %}
	<div id="wines-content">
	    {% for wine in wines %}
			<div class="card wine-card" data-color="{{ wine.color }}" data-dluo="{{ wine.dluo }}">
    			<div class="card-body">
				    <div class="d-flex justify-content-between">
						<div>
							<h5 class="card-title btn btn-primary">{{ wine.origin }} {{ wine.year }}</h5>
        				</div>
						<div class="card-quantity" data-id="{{ wine.id }}">
							{% include 'mobile/bottlesQuantity.html.twig' %}
						</div>
					</div>
    				<h4 class="card-title">{{ wine.name }}</h4>
    				<p class="card-text">{{ wine.comment }}</p>
			    	<p class="italic mb-0">à boire avant {{ wine.dluo }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mobile/wines.js') }}"></script>
{% endblock %}