{% extends 'layout.html.twig' %}

{% block content %}
	<div id="wines-content">
	    {% for wine in wines %}
			{# {% set color = (wine.color == 'rouge') ? 'bg-purple' : (wine.color == 'blanc' ? 'bg-white' : 'bg-pink') %} #}
			{% set color = (wine.color == 'rouge') ? 'purple' : (wine.color == 'blanc' ? 'white' : 'pink') %}

			<div class="card wine-card" data-color="{{ wine.color }}" data-dluo="{{ wine.dluo }}">
    			<div class="card-body">
				    <div class="d-flex justify-content-between">
						<div>
							<h5 class="card-title btn btn-primary">{{ wine.origin }}</h5>
							<h5 class="card-title btn btn-primary">{{ wine.year }}</h5>
							{# <h5 class="card-title btn btn-primary {{ color }}">{{ wine.color }}</h5> #}
							{# <h5> #}
							<i class='fas fa-wine-bottle {{ color }} huge-icon'></i>
							{# </h5> #}
        				</div>
						<div class="card-quantity d-flex" data-id="{{ wine.id }}">
							{% include 'mobile/bottlesQuantity.html.twig' %}
						</div>
					</div>
    				<h4 class="card-title">{{ wine.name }}</h4>
    				<p class="card-text">{{ wine.comment }}</p>
			    	<p class="italic mb-0">à boire avant {{ wine.dluo }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mobile/wines.js') }}"></script>
{% endblock %}